body {
    justify-content: center;
    text-align: center;
    background: #444;
    display: block;
    margin: 0;
    padding: 0;
    
}

img{
    
    clip-ath: circle(50%);
    height: 165px;
    max-width: 175px;
    background: #FF6F26;
}

fieldset{
    margin: 0 auto;
    width: 50%;
    height: 20%;
    place-items: center ;
    background: #FF6F26;
    border: 2px solid #FF6F26;
    border-radius: 9px;
    box-shadow: 0 0 2px 2px #fff;
    
}

p:first-child{
    font-size: 7px;
}

p:last-child{
    font-size: 8.5px;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
}



header{
  background:#000;
  color:#fff;
  padding-top:1px;
  min-height:40px;
  border-bottom: #FF6F26 2px solid;
  
}

fieldset:last-child{
    margin-bottom: 19px;
}


#hero {
    min-width: 102%;
    min-height: 90%;
}

footer{
    border-bottom: 0;
    text-transform: uppercase;
}
