body {
    justify-content: center;
    text-align: center;
    background: #444;
    display: block;
    margin: 0;
    padding: 0;
    
}

img{
    min-width: 170px;
    max-width: 160px;
    background: #FF6F26;
    padding: 0;
}

fieldset{
    margin: 0 auto;
    width: 50%;
    height: 20%;
    padding: 0;
    place-items: center ;
    background: #FF6F26;
    border: 2px solid #FF6F26;
    border-radius: 2px;
    box-shadow: 0 0 3px 3px #fff;
    
}

p:first-child{
    font-size: 7px;
}

p:last-child{
    font-size: 8.5px;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
}

#hero{
    width: 90%;
    height: 155px;
}

header{
  background:#000;
  color:#fff;
  padding-top:1px;
  min-height:40px;
  min-width: 101.5%;
  border-bottom: #FF6F26 2px solid;
  margin: 0;
  
}

fieldset:last-child{
    margin-bottom: 19px;
}

footer{
    border-bottom: 0;
    text-transform: uppercase;
}

fieldset:hover{
     background: dodgerblue;
     border: dodgerblue;
     padding: 0;
}

img:hover{
    background: dodgerblue;
}

nav, li, a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none ;
    padding: 0 2px ;
    font-size: 14px;
   
}


nav{
    background: #fff;
    min-width: 100%;
    
}
